*{
    margin: auto;
}

.container{
    width: 100%;
    margin: 0 auto;
}
/*awal header*/
.header{
    width: 100%;
    background-color: rgb(48, 45, 45);
    height:70px;
    position: sticky;
    top: 0%;
    z-index: 3;
    text-align: center;
}

.header .h1{
    color: #faf4f4;
    font-size: 20px;
    text-transform: uppercase;
    float: left;
    margin-left: 80px;
    margin-top: 10px;
    font-weight: 800;
}

.header .h1 em{
    color: rgb(60, 71, 214);
    font-style: normal;
}

.navbar{
    height: 50px;
    overflow: hidden;
    margin-right: 60px;
}

.navbar ul li{
    text-decoration: none;
    float: right;
    margin-right: 35px;
    margin-top: 25px;
    display: block;
}

li a, .dropbtn{
    text-decoration: none;
    display: block;
    color:#fff;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
}

.navbar ul li:nth-child(5) a{
    color: rgb(60, 71, 214);
    opacity: 1;
}

.navbar ul li a:hover, .dropdown:hover .dropbtn{
    color: rgb(60, 71, 214);
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(48, 45, 45);
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    text-align: left;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #fff;
}

.dropdown:hover .dropdown-content{
    display: block;
}
/*akhir header*/
/*awal jumbotron*/
.video-jumbotron{
    position: relative;
    text-align: center;
}

#bgvideo{
    min-width: 100%;
    min-height: 600px;
    max-width: 100%;
    max-height: 800px;
    object-fit: contain;
    filter: brightness(20%);
}

.video-caption{
    width: 80%;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-caption h6{
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 800;
}

.video-caption h2{
    letter-spacing: 1px;
    color: #fff;
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 80px;
}

.video-caption h2 em{
    font-style: normal;
    color: rgb(60, 71, 214);
}

.button-caption{
    display: inline-block;
}

.button-caption a{
    color: #faf4f4;
    text-decoration: none;
    font-size: 18px;
    padding: 12px 20px;
    background-color: rgb(60, 71, 214);
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    transform: a11 .3s;
    transition: filter 0.3s ease;
    border-radius: 5px;
}

.button-caption a:hover{
    filter: brightness(1.2);
}
/*akhir jumbotron*/
/*awal content*/
.featured-content{
    width: 100%;

}

.featured-top{
    width: 50%;
    height: 250px;
    text-align: center;
}

.featured-top h2{
    color: #1A1313;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 1000;
    letter-spacing: 0.5px;
    margin-top: 150px;
}

.featured-top h2 em{
    font-style: normal;
    color: rgb(60, 71, 214);
}

.featured-top p{
    font-size: 19px;
    line-height: 30px;
    margin-top: 30px;
    color: #7a7a7a;
}

.featured-top img{
    margin-top: 30px;
    width: 80px;
}

.featured-bot{
    width: 100%;
    height: 500px;
}

.container-card{
    width: 100%;
}

.card{
    width: 30%;
    height: 500px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    margin: 0px 20px;
    display: inline-block;
}

.card:hover {
    box-shadow: 0 16px 32px 0 rgba(60, 71, 214, 0.4);
}

.isi-card{
    padding: 2px 16px;
}

.isi-card span{
    color: rgb(60, 71, 214);
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
}

.isi-card h4{
    margin-top: 6px;
    font-size: 25px;
    font-weight: 800;
}

.isi-card p{
    color: #7a7a7a;
    line-height: 24px;
    margin-top: 8px;
    margin-bottom: 14px;
}

.isi-card a{
    text-decoration: none;
    color: #1A1313;
    font-size: 20px;
    transition: all .3s;
    font-weight: 800;
    margin-bottom: 10px;
}

.isi-card a:hover{
    color: rgb(60, 71, 214);
}

.featured-button{
    width: 100%;
    height: 160px;
    text-align: center;
    margin-bottom: 60px;
}

.main-button{
    display: inline-block;
    margin-top: 70px;
}

.main-button a{
    color: #faf4f4;
    text-decoration: none;
    font-size: 18px;
    padding: 12px 20px;
    background-color: rgb(60, 71, 214);
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    transform: a11 .3s;
    transition: filter 0.3s ease;
    border-radius: 5px;
}

.main-button a:hover{
    filter: brightness(1.2);
}
/*akhir content*/
/*awal about us*/
.about-us{
    width: 100%;
    height: 500px;
    padding-bottom: 140px;
    position: relative;
}

.about-us img{
    filter: brightness(25%) blur(1px);
    object-fit: cover;
}

.about-us-caption{
    width: 50%;
    height: 250px;
    position: absolute;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.about-us-caption h2{
    font-weight: 800;
    font-size: 35px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #faf4f4;
}

.about-us-caption h2 em{
    font-style: normal;
    color: rgb(60, 71, 214);
}

.about-us-caption img{
    width: 80px;
    filter: brightness(600%) blur(0px);
    margin-top: 20px;
}

.about-us-caption p{
    color: #faf4f4;
    line-height: 20px;
    font-size: 16px;
    margin-top: 26px;
    font-weight: 500;
}

/*akhir about us*/
.testimonials{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.subcontainer{
    display: flex;
    flex-basis: 100%;
}

.testi-caption{
    order: -1;
    flex-basis: 80%;
    height: 400px;
    text-align: center;
}

.testi-caption-container{
    width: 50%;
    margin-top: 140px;
}

.testi-caption-container > h2{
    color: #1A1313;
    font-size: 30px;
    letter-spacing: 0.5px;
    font-weight: 800;
    text-transform: uppercase;
}

.testi-caption-container > h2 > em{
    font-style: normal;
    color: rgb(60, 71, 214);
}

.testi-caption-container > p{
    color: #7a7a7a;
    font-size: 19px;
    line-height: 30px;
    margin: 30px;
}

.testi-caption-container > img{
    width: 80px;
    margin-top: 30px;
}

.testi-feature{
    flex-basis: 50%;
    height: 500px;
}

.feature-item{
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 100px;
}

.feature-item > .left-img > img{
    float: left;
    margin-right: 30px;
}

.feature-item > .right-content{
    display: inline;
}

.feature-item .right-content h4{
    letter-spacing: 0.25px;
    margin-bottom: 8px;
    color: #232d39;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
}

.feature-item .right-content p {
    line-height: 26px;
    font-size: 17px;
    color: #7a7a7a;
}

.testi-feature ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}
/*awal footer*/
.container-footer{
    text-align: center;
}

.container-footer p{
    color: #1A1313;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container-footer a{
    color: rgb(60, 71, 214);
    text-decoration: none;
    font-weight: 800;
}
/*akhir footer*/
.bersih{
    clear: both;
}