*{
    margin: auto;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.header{
    width: 100%;
    background-color: rgb(48, 45, 45);
    height:70px;
    position: sticky;
    top: 0%;
    z-index: 1;
    text-align: center;
}

.header .h1{
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    float: left;
    margin-left: 80px;
    margin-top: 10px;
}

.header .h1 em{
    color: rgb(60, 71, 214);
    font-style: normal;
}

.navbar{
    height: 50px;
    overflow: hidden;
    margin-right: 60px;
}

.navbar ul li{
    text-decoration: none;
    float: right;
    margin-right: 35px;
    margin-top: 25px;
    display: block;
}

li a, .dropbtn{
    text-decoration: none;
    display: block;
    color:#fff;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
}

.navbar ul li:nth-child(5) a{
    color: rgb(60, 71, 214);
    opacity: 1;
}

.navbar ul li a:hover, .dropdown:hover .dropbtn{
    color: rgb(60, 71, 214);
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(48, 45, 45);
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    text-align: left;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #fff;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.video-jumbotron{
    position: relative;
}

#bgvideo{
    min-width: 100%;
    min-height: 600px;
    max-width: 100%;
    max-height: 800px;
    object-fit: contain;
    filter: brightness(80%);
}

.content{
    height: 900px;
}

.kotak1{
    height: 300px;
}

.info1{
    height: 300px;
    width: 45%;
    float: left;
    text-align: center;
}

.info2{
    height: 300px;
    width: 55%;
    float: left;
    text-align: center;
}

.info2 .namamobil{
    font-size: 50px;
    font-family: monospace;
    margin-top: 20px;
    color: rgb(60, 71, 214);
}

.info2 .deskripsimobil{
    padding: 30px;
    font-size: 20px;
    margin-top: 10px;
}

.info2 .kotakbuy{
    display: inline-block;
    background-color: black;
    padding: 15px;
    border-radius: 50px;
    text-decoration: none;
}

.info2 .kotakbuy a{
    text-decoration: none;
    display: block;
    color: white;
}

.info2 .kotakbuy a:hover{
    color: rgb(60, 71, 214);
}

.footer{
    background-color: rgb(48, 45, 45);
    height: 100px;
}

.f1{
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(60, 71, 214);
}

.bersih{
    clear: both;
}